@use 'sass:map';
@use 'app/var.module';

$indent-unit: map.get(var.$content, 'padding');

.indent {
  margin-left: $indent-unit;

  &.checklist {
    margin-left: calc($indent-unit * 1.5);
  }
}

.highlight {
  padding: calc(map.get(var.$content, 'padding') / 8) calc(map.get(var.$content, 'padding') / 4);
  color: map.get(var.$colors, 'white');
  border-radius: 0.25rem;
  background-color: map.get(var.$colors, 'grey');
}
