@use "sass:map";
@use "app/var.module";

$hero-height: 450px;
$small-gap-height: 3px;
$gap-height: 6px;

.heroContainer {
  position: relative;
  width: 100%;
  height: $hero-height;
  overflow: hidden;
}

.fieldMaroon,
.fieldRed,
.fieldOrange,
.fieldBlue,
.spacer {
  position: relative;
  width: 100%;

  & .scene {
    margin-left: 0px;
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.spacer {
  height: $gap-height;
  background-color: map.get(var.$colors, 'white');

  &.small {
    height: $small-gap-height;
  }
}

.fieldMaroon {
  height: 287px;
  background-color: map.get(var.$colors, 'maroon');
}

.fieldRed {
  height: 7.5px;
  background-color: map.get(var.$colors, 'red');

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: map.get(var.$colors, 'red');
  }

  .scene {
    .fiveBuilding {
      position: absolute;
      bottom: 0;
      left: -400px;
      width: 60px;
      height: 270px;

      & .base {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 55px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: map.get(var.$colors, 'red');
          border-top: $small-gap-height solid map.get(var.$colors, 'white');
        }

        &::before {
          left: 0%;
          transform: skewX(-5deg);
          border-left: $small-gap-height solid map.get(var.$colors, 'white');
        }

        &::after {
          left: 66%;
          transform: skewX(5deg);
          border-right: $small-gap-height solid map.get(var.$colors, 'white');
        }
      }

      & .level {
        position: absolute;
        left: 0;
        width: 60%;
        height: 25px;

        &.one {
          bottom: 52px;
        }

        &.two {
          bottom: 74px;
        }

        &.three {
          bottom: 96px;
        }

        &.four {
          bottom: 118px;
        }

        &.five {
          bottom: 140px;
        }

        &.six {
          bottom: 162px;
        }

        &.seven {
          bottom: 184px;
        }

        &.eight {
          bottom: 206px;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: map.get(var.$colors, 'red');
          border-top: $small-gap-height solid map.get(var.$colors, 'white');
        }

        &::before {
          left: 10%;
          transform: skewX(8deg);
          border-left: $small-gap-height solid map.get(var.$colors, 'white');
        }

        &::after {
          left: 56%;
          transform: skewX(-8deg);
          border-right: $small-gap-height solid map.get(var.$colors, 'white');
        }
      }

      & .topBase {
        position: absolute;
        left: 17px;
        bottom: 228px;
        width: 40%;
        height: 10px;
        background-color: map.get(var.$colors, 'red');
        border-top: $small-gap-height solid map.get(var.$colors, 'white');
        border-left: $small-gap-height solid map.get(var.$colors, 'white');
        border-right: $small-gap-height solid map.get(var.$colors, 'white');

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: -20px;
          width: 55%;
          height: 20px;
          background-color: map.get(var.$colors, 'red');
          border-top: $small-gap-height solid map.get(var.$colors, 'white');
        }

        &::before {
          left: 1px;
          transform: skewX(6deg);
          border-left: $small-gap-height solid map.get(var.$colors, 'white');
        }

        &::after {
          left: 42%;
          transform: skewX(-6deg);
          border-right: $small-gap-height solid map.get(var.$colors, 'white');
        }
      }

      & .antenna {
        position: absolute;
        left: 23px;
        bottom: 252px;
        width: 20%;
        height: 8px;
        background-color: map.get(var.$colors, 'red');
        border-top: $small-gap-height solid map.get(var.$colors, 'white');
        border-left: $small-gap-height solid map.get(var.$colors, 'white');
        border-right: $small-gap-height solid map.get(var.$colors, 'white');

        &::before {
          content: '';
          position: absolute;
          left: 1px;
          bottom: 5px;
          width: 4px;
          height: 35px;
          background-color: map.get(var.$colors, 'white');
        }
      }

      & .sign {
        position: absolute;
        left: 19px;
        bottom: 40px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid map.get(var.$colors, 'white');

        &::before {
          content: '';
          position: absolute;
          top: 4px;
          left: 4px;
          width: 50%;
          height: 50%;
          background-color: map.get(var.$colors, 'white');
        }
      }
    }

    .cappedBldg {
      position: absolute;
      bottom: 0;
      left: -338px;
      width: 45px;
      height: 78px;
      background-color: map.get(var.$colors, 'red');
      border-top: $small-gap-height solid map.get(var.$colors, 'white');
      border-right: $small-gap-height solid map.get(var.$colors, 'white');
      border-left: $small-gap-height solid map.get(var.$colors, 'white');

      &::before {
        content: '';
        position: absolute;
        width: 39px;
        height: 8px;
        left: 0px;
        top: -8px;
        background-color: map.get(var.$colors, 'red');
        border-top: $small-gap-height solid map.get(var.$colors, 'white');
        border-right: $small-gap-height solid map.get(var.$colors, 'white');
        border-left: $small-gap-height solid map.get(var.$colors, 'white');
      }

      &.bldg01 {
        left: -582px;
        width: 60px;
        height: 52px;

        &::before {
          height: 12px;
          left: -3px;
          top: -12px;
        }
      }

      &.bldg02 {
        left: -259px;
        width: 42px;
        height: 64px;

        &::before {
          width: 34px;
          height: 22px;
          left: 5px;
          top: -22px;
        }
      }
    }

    .flatBldg {
      position: absolute;
      bottom: 0;
      left: -291px;
      width: 30px;
      height: 50px;
      background-color: map.get(var.$colors, 'red');
      border-top: $small-gap-height solid map.get(var.$colors, 'white');
      border-right: $small-gap-height solid map.get(var.$colors, 'white');
      border-left: $small-gap-height solid map.get(var.$colors, 'white');

      &.bldg01 {
        left: -518px;
        width: 32px;
        height: 72px;
      }

      &.bldg02 {
        left: -438px;
        width: 35px;
        height: 42px;
      }
    }

    .domedBldg {
      position: absolute;
      bottom: 0;
      left: -214px;
      width: 30px;
      height: 75px;
      background-color: map.get(var.$colors, 'red');
      border-top: $small-gap-height solid map.get(var.$colors, 'white');
      border-right: $small-gap-height solid map.get(var.$colors, 'white');
      border-left: $small-gap-height solid map.get(var.$colors, 'white');

      &::before {
        content: '';
        position: absolute;
        top: -12px;
        left: 1px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: map.get(var.$colors, 'red');
        border-top: $small-gap-height solid map.get(var.$colors, 'white');
        border-right: $small-gap-height solid map.get(var.$colors, 'white');
        border-left: $small-gap-height solid map.get(var.$colors, 'white');
      }

      &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: map.get(var.$colors, 'red');
      }

      &.bldg01 {
        left: -484px;
        width: 42px;
        height: 41px;

        &::before {
          top: -20px;
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

.fieldOrange {
  height: 5px;
  background-color: map.get(var.$colors, 'orange');

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: map.get(var.$colors, 'orange');
  }

  .scene {
    // display: none;
    margin-left: 0px;

    &.foreground {
      animation-name: foreground-clouds;
      animation-duration: 90s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .cloudBig,
    .cloudSmall,
    .inside,
    .inner,
    .middle,
    .outer,
    .outside {
      position: absolute;
      bottom: 0;

      &::before,
      &::after {
        content: '';
        position: absolute;
      }
    }

    .inside,
    .inner,
    .middle,
    .outer,
    .outside {
      &::before {
        border: $small-gap-height solid map.get(var.$colors, 'white');
        background-color: map.get(var.$colors, 'orange');
      }
    }

    .cloudBig {
      left: -900px;
      width: 662px;
      height: 85px;

      &.offScreen {
        left: -2767px;
      }

      .inside {
        left: 350px;
        width: 312px;
        height: 60px;

        &::before {
          top: 9%;
          left: 1%;
          width: 102%;
          height: 244%;
          border-radius: 45% 65%;
        }
      }

      .middle {
        left: 200px;
        width: 250px;
        height: 85px;

        &::before {
          top: 0%;
          left: 0%;
          width: 118%;
          height: 195%;
          border-radius: 65% 70%;
        }

        &::after {
          top: 40%;
          left: 67%;
          width: 85%;
          height: 195%;
          border-radius: 65% 70%;
          background-color: map.get(var.$colors, 'orange');
        }
      }

      .outside {
        left: 0px;
        width: 250px;
        height: 75px;

        &::before {
          top: 0%;
          left: 0%;
          width: 125%;
          height: 195%;
          border-radius: 105% 70%;
        }

        &::after {
          top: -5%;
          left: 86%;
          width: 85%;
          height: 195%;
          border-radius: 95% 107%;
          background-color: map.get(var.$colors, 'orange');
        }
      }
    }

    .cloudSmall {
      left: 200px;
      width: 550px;
      height: 85px;

      &.offScreen {
        left: -1667px;
      }

      .inside {
        left: 0;
        width: 312px;
        height: 28px;

        &::before {
          top: 0%;
          left: 0%;
          width: 110%;
          height: 225%;
          border-radius: 75% 45%;
        }
      }

      .inner {
        left: 160px;
        width: 150px;
        height: 55px;

        &::before {
          top: 0%;
          left: 0%;
          width: 118%;
          height: 195%;
          border-radius: 65% 70%;
        }

        &::after {
          top: 56%;
          left: -33%;
          width: 85%;
          height: 195%;
          border-radius: 65% 70%;
          background-color: map.get(var.$colors, 'orange');
        }
      }

      .outer {
        left: 299px;
        width: 150px;
        height: 75px;

        &::before {
          top: 0%;
          left: 0%;
          width: 110%;
          height: 225%;
          border-radius: 65% 55%;
        }

        &::after {
          top: 39%;
          left: -67%;
          width: 100%;
          height: 195%;
          border-radius: 95% 107%;
          background-color: map.get(var.$colors, 'orange');
        }
      }

      .outside {
        left: 425px;
        width: 125px;
        height: 23px;

        &::before {
          top: 0%;
          left: -8%;
          width: 115%;
          height: 225%;
          border-radius: 45% 70%;
        }

        &::after {
          top: -90%;
          left: -48%;
          width: 75%;
          height: 250%;
          border-radius: 95% 107%;
          background-color: map.get(var.$colors, 'orange');
        }
      }
    }
  }
}

.fieldBlue {
  position: relative;
  height: 138px;
  background-color: map.get(var.$colors, 'blue');
  overflow: hidden;

  .hexRipple {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 27px;
    width: 46px;
    transform: rotateX(60deg) translate(-50%, 15%);
    background-color: map.get(var.$colors, 'white');
    border-radius: 3%;
    opacity: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: map.get(var.$colors, 'white');
      border-radius: 3%;
      height: 100%;
    }

    &::before {
      transform: rotate(60deg);
    }

    &::after {
      transform: rotate(-60deg);
    }
  }
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .logo {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -30%);
  }

  .hexBackdrop {
    position: absolute;
    top: 250px;
    left: 50%;
    height: 108px;
    width: 184px;
    transform: translate(-50%, -14%);
    background-color: map.get(var.$colors, 'white');
    border-radius: 2px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: map.get(var.$colors, 'white');
      border-radius: 2px;
      height: 100%;
    }

    &::before {
      transform: rotate(60deg);
    }

    &::after {
      transform: rotate(-60deg);
    }
  }
}

/**
 * Keyframe animations
 */
$animation-delay: 600ms;

.ripple {
  animation-iteration-count: infinite;
  animation-duration: 9000ms;
}

.hexRipple.ripple {
  animation-name: ripple;
  animation-timing-function: ease-out;
  animation-delay: $animation-delay;

  &.delay1 {
    animation-delay: calc($animation-delay * 1.625);
  }

  &.delay2 {
    animation-delay: calc($animation-delay * 2.125);
  }
}

@keyframes foreground-clouds {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 1867px;
  }
}

@keyframes ripple {
  0% {
    height: 27px;
    width: 46px;
    transform: rotateX(60deg) translate(-50%, 15%);
    opacity: 0;
  }

  90% {
    height: 27px;
    width: 46px;
    transform: rotateX(60deg) translate(-50%, 15%);
    opacity: 0;
  }

  94% {
    opacity: 0.15;
  }

  99% {
    opacity: 0;
  }

  100% {
    height: 108px;
    width: 184px;
    transform: rotateX(60deg) translate(-50%, -70%);
    opacity: 0;
  }
}
