@use "sass:map";

$breakpoint-medium-min: 40rem;
$breakpoint-small-max: 39.9375rem;

$colors: (
  "black": #000,
  "white": #fff,
  "grey": #e8e8e8,
  "blue": #4793AF,
  "orange": #FFC470,
  "red": #DD5746,
  "maroon": #8B322C,
  "darkBlue": #3D7D94,
);

$code-colors: (
  "background": #161B22,
  "blue": #A5D6FF,
  "darkBlue": #79c0ff,
  "green": #7EE787,
  "grey": #8B949E,
  "orange": #FFA657,
  "purple": #D2A8FF,
  "red": #FF7B72,
);

$spacing-unit: 1rem;

$content: (
  "article-max-width": 1200px,
  "font-size": 1.125rem,
  "max-width": 1920px,
  "padding": $spacing-unit,
);
