@use "sass:map";

$colors: (
  "black": #000000,
  "blue": #4793AF,
  "orange": #FFC470,
  "red": #DD5746,
  "maroon": #8B322C,
);

$spacing-unit: 1rem;

$content: (
  "max-width": 1920px,
  "padding": $spacing-unit,
);
