@use "sass:map";
@use "app/var.module";

$padding-unit: map.get(var.$content, 'padding');

.headingBlock {
  margin: calc(2 * $padding-unit) auto;
  padding: 0 $padding-unit;
  max-width: map.get(var.$content, 'article-max-width');
}
