@use "sass:map";
@use "app/var.module";

$padding-unit: map.get(var.$content, 'padding');

.headingBlock {
  margin: 0 auto;
  padding: calc(2 * $padding-unit) $padding-unit;
  max-width: map.get(var.$content, 'article-max-width');
}

.center {
  text-align: center;
}
