.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .tag {
      display: inline-block;
    }

    .link {
      position: absolute;
      right: -30px;
    }
  }

  &.center {
    justify-content: center;
  }
}
